  html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	font-family: Verdana, Arial, Serif;
	font-size: 14px;
}

div.container {
  width: 100%;
  padding: 0;
  margin-top: 50px;
}

#about {
  background-image: url("backgroundintro.png");
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

#about h4 {
  margin-bottom: 20px;
  font-weight: bold;
}

p.intro {
  font-size: 16px;
  width: 95%;
  margin: auto;
}

span.countrypage {
  font-style: italic;
  font-weight: bold;
}

p.copyright {
  margin-top: 100px;
  font-size: 12px;
}

.navbar-brand {
  width: 350px;
  text-align: center;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important
}

#myCarousel div div img {
  height: 500px;
  margin: auto;
}

.japan_city {
  text-align: left;
  margin-left: 80px;
}

#tokyo img, #kyoto img, #sapporo img, #fukuoka img {
  width: 400px;
  height: 300px;
}